name: Release

on:
  push:
    branches:
      - "main"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: "Installing correct version of Node.js"
        shell: bash -l {0}
        run: nvm install && nvm use
      - name: "Installing dependencies ..."
        run: npm i
      - name: "Building ..."
        run: npm run build
      - name: "Releasing ..."
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
        run: npm run release
